<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="Connection pool size_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="Connection pool size" type="xint" value="10"/>
<config key="Database URL_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="Database URL" type="xstring" value="embedded:."/>
<config key="Remote database name_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="Remote database name" type="xstring" value="test"/>
<config key="Username_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="Username" type="xstring" value="admin"/>
<config key="Password_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="Password" type="xstring" value="admin"/>
<config key="Database type_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="Database type" type="xstring" value="Local folder"/>
<config key="Credential name_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="Credential name" type="xstring" value="use login/password"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="se.redfield.node.port.orientdb.connection.OrientDBConnectionNodeFactory"/>
<entry key="node-name" type="xstring" value="OrientDB Connection"/>
<entry key="node-bundle-name" type="xstring" value="OrientDB extension nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="se.redfield.node.port.orientdb"/>
<entry key="node-bundle-vendor" type="xstring" value="Redfield AB"/>
<entry key="node-bundle-version" type="xstring" value="2.0.80"/>
<entry key="node-feature-name" type="xstring" isnull="true" value=""/>
<entry key="node-feature-symbolic-name" type="xstring" isnull="true" value=""/>
<entry key="node-feature-vendor" type="xstring" isnull="true" value=""/>
<entry key="node-feature-version" type="xstring" value="0.0.0"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="OrientDB Connection"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="se.redfield.node.port.orientdb.connection.OrientDBConnectionPortObjectSpec"/>
<entry key="port_object_class" type="xstring" value="se.redfield.node.port.orientdb.connection.OrientDBConnectionPortObject"/>
<entry key="port_object_summary" type="xstring" value="OrientDB:OrientDBConnectionPortObject"/>
<entry key="port_spec_location" type="xstring" value="spec/spec.zip"/>
<entry key="port_object_location" type="xstring" value="object/portobject.zip"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="5e7d7084-3fea-4b5a-b069-efe23f58f44c"/>
</config>
</config>
